@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Primary Colors */
	--color-primary: #6a42c2; /* Violet */
	--color-primary-light: #8b5dff; /* Light Violet */
	--color-primary-dark: #563a9c; /* Dark Indigo */

	/* Secondary Color */
	--color-secondary: #d3c9e6; /* Soft Lavender */

	/* Background Colors */
	--color-background: #fff7d1; /* White */
	--color-dark: #2e2e2e; /* Graphite */
	--color-muted: #6b6b6b; /* Subtle Gray */
	--color-light: #e0e0e0; /* Mist Gray */
	--color-soft: #f7f7f7; /* Cloud White */

	/* Additional Colors */
	--color-highlight: #ab82ff; /* Lavender Highlight */
	--color-warning: #ff6347; /* Coral for Alerts */
	--color-success: #32cd32; /* Lime Green for Success Messages */
	--color-info: #87ceeb; /* Sky Blue for Info */
}

/* .dark {
	--color-primary: #dfd6d1;
	--color-secondary: #1f232c;
	--color-accent: #83746e;
	--color-background: #2e2e2e;
	--color-dark: #ffffff;
	--color-muted: #b3b3b3;
	--color-light: #4a4a4a;
	--color-soft: #3b3b3b;
} */

html {
	scroll-behavior: smooth;
}

@layer base {
	body {
		font-family: var(--font-body);
		font-size: 1rem;
		line-height: 1.6;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-heading);
		font-weight: 700;
	}

	.rotating-ring {
		outline-style: solid;
		outline-width: 2px;
		outline-offset: 18px;
	}

	.orbit-btn {
		@apply grid place-content-center absolute w-[23%] hover:w-[25%] aspect-square rounded-full bg-light z-20;

		/* Neumorphic effect */
		box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2),
			/* Dark shadow */ -6px -6px 12px rgba(255, 255, 255, 0.6); /* Light shadow */
		transition: all 0.1s ease-in-out;
	}

	.orbit-btn:active {
		box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2),
			/* Inner dark shadow */ inset -4px -4px 10px rgba(255, 255, 255, 0.6); /* Inner light shadow */
	}
}
